{% extends 'base.html' %}

{% block title %}Books Recommender Demo{% endblock %}

{% block content %}
<h2 class="text-center m-3">Всі книги</h2>

<!-- Search -->
<div class="p-3 m-3">
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="row justify-content-center">
            <div class="form-group col-md-4">
                {{ form.book_title(class_="form-control", size=32) }}
            </div>

            <div class="form-group col-md-2">
                {{ form.submit(class_="form-control custom-button") }}
            </div>
        </div>
    </form>
</div>

<!-- Book list -->
<div class="row m-3 p-3 justify-content-center">
    {% for book in books %}
    <div class="col-md-3 book m-3 p-3">
        <a href="/book-{{book.id}}">
        <p class="text-center">
            <img src="{{book.cover_url}}" class="book_cover"/>
        </p>
        <p class="text-center">  
            <b>{{book.book_title}}</b>
        </p>
        <p class="text-center">
            {% for author in book.authors %}
            <span><i>{{author.author_name}}</i></span>
            {% endfor %}
        </p>
        {% if book.price is not none %}
            <p class="text-center price">{{book.price | int}} грн</p>
        {% else %}
            <p class="text-center price">Немає в наявності</p>
        {% endif %}
        </a>
    </div>
    {% endfor %}
</div>

<!-- Pagination -->
{% if pages is not none %}
<div>
    <p class="text-center page-number">
    Сторінки:
    {% for page in pages %}
        {% if current_page - 5 <= page <= current_page + 5 %}
            <a href="/page-{{page}}" class="page-number">{{page}}</a>
        {% endif %}
    {% endfor%}
    ...
    </p>
</div>
{% endif %}
{% endblock %}

