* {
    font-family: 'Nunito', sans-serif;
    color: #2D3047;
}

html{
    height: 100%;
    min-width: 1400px;
    overflow: scroll;
}

header{
    background-color: #ece4f7;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1{
    color: #690fad;
}

h2{
    color: #688900;
}

a{
    /*color: #42BFDD!important;*/
    color: #2D3047!important;
}

a:hover{
    color: #FB6376!important;
    text-decoration: none!important;
}

footer{
    background-color: #ece4f7;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 60px;
    line-height: 60px;
}

.breadcrumb {
    background-color: transparent!important;
}

.container {
    display: flex;
    justify-content: center;
}

#content{
    padding-bottom: 60px;
}

.book{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5%;
}

.book:hover{
    box-shadow: rgba(207, 215, 0, 0.5) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5%;
}

.price{
    font-weight: bold;
    font-size: large;
    color: #42BFDD;
}

.page-number{
    font-weight: bold;
    font-size: large;
}

.book_cover{
    width: 200px;
}

.book_cover_small{
    width: 80px;
}

.tag{
    color: #FB6376;
}

.custom-button{
    background-color: #cfd700!important;
    border-color: transparent!important;
    color: #2D3047!important;
}

th{
    font-size: larger;
    font-weight: bold;
}